:root {
    --primary-color: #4CAF50;
    --danger-color: #f44336;
    --text-color: #333;
    --gray-light: #f5f5f5;
    --gray-medium: rgba(221, 221, 221, 0.51);
    --completed-color: #999;
}

.dark-theme {
    background-color: #242424;
}

.light-theme {
    background-color: #a5a3a3;
}

#root {
    width: 100%;
}
.app {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 320px;
    box-shadow: 2px -1px 8px rgb(221 208 208 / 54%);
    border-radius: 8px;
    padding: 20px;
    border: 1px solid var(--gray-light);
}

.todo-form {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.todo-form .todo-input {
    flex-basis: 50%;
}

.todo-form .add-button {
    flex-basis: 25%;
}

.todo-item {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    align-items: center;
    transition: all .5s ease;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 5px;
    opacity: 1;
}

.todo-item.deleted {
    opacity: 0;
}

.todo-item:hover {
    background: var(--gray-medium);
    cursor: pointer;
}

.created-date {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    width: 100%;
    color: var(--gray-light);
    margin-top: 0;
    margin-left: 5px;
}

.delete-button {
    justify-self: end;
    font-size: 14px;
    padding: 4px 8px;
    margin-left: auto;
}

.todo-item.completed .todo-text {
    color: var(--completed-color);
    text-decoration: line-through;
}

.error-message {
    color: var(--danger-color);
    margin-bottom: 10px;
    font-size: 14px;
    flex-basis: 100%;
}

.todo-filters{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.todo-list {
    list-style-type: none;
    padding-left: 0;
    max-height: 250px;
    overflow-y: scroll;
}

.filter-btn.active {
    outline: 1px solid var(--gray-light);
}

.todos-value {
    margin: 0;
}

@media screen and (min-width: 768px){
    .container {
        margin-top: 50px;
        width: 30%;
    }
    .todo-form .todo-input {
        flex-basis: 70%;
    }

    .todo-form .add-button {
        flex-basis: 25%;
    }

}